*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 60px;
}

.logo-links{
    display: flex;
}

.logo-links .links{
    padding-left: 70px;
}

.links a{
    padding-left: 50px;
    text-decoration: none;
}

.login-register a{
    padding-left: 50px;
    text-decoration: none;
}

.links , .login-register{
    display: none;
}

.hero-img{
    width: 100%;
}